.friendMessage {
/*display: flex;
    justify-content: flex-end;*/
}

.friendImageAndText {
    display: flex;
    justify-content: flex-end;

}

.friendImageAndText img {
    width: 48px;
    height: 48px
}

.friendText {
   width: 527px;
    height: 60px;
    left: 635px;
    top: 192px;

    background: #0066CC;
    box-shadow: 0px 5px 20px rgba(29, 33, 38, 0.03), 0px 1px 2px rgba(29, 33, 38, 0.1);
}

.friendText:after {

}

.friendName {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

.friendMessageText {

}

.friendTime {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;

    color: #000000;
}
