.container {


}

.wrapper {
    display: flex;
    flex-direction: row;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;


}

.number {
    align-self: center;
    color: #000;
    min-width: 30px;
    margin: 8px;
}
